// Font Mixins

@mixin luckiest-guy {
  font-family: "Luckiest Guy", serif;
  font-weight: 400;
  font-style: normal;
}

@mixin fredoka {
  font-family: "Fredoka", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@mixin vt323 {
  font-family: "VT323", serif;
  font-weight: 400;
  font-style: normal;
}

@mixin trade-winds {
  font-family: "Trade Winds", serif;
  font-weight: 400;
  font-style: normal;
}

@mixin potta {
  font-family: "Potta One", serif;
  font-weight: 400;
  font-style: normal;
}

@mixin rockNRoll {
  font-family: "RocknRoll One", serif;
  font-weight: 400;
  font-style: normal;
}

@mixin mochiy {
  font-family: "Mochiy Pop One", serif;
  font-weight: 400;
  font-style: normal;
}

.App {
  text-align: center;
  height: 100vh;
  overflow: auto;
}

.App.jp {
  .start {
    h1 {
      font-size: 28px;
    }
  }

  &.Pokemon {
    p,
    button {
      @include potta;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
      @include potta;
    }
    .start h1 {
      padding-left: 62px;
    }
  }

  &.Dogs {
    p,
    button {
      @include mochiy;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
      @include mochiy;
    }
  }

  &.OnePiece {
    p,
    button {
      @include rockNRoll;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
      @include rockNRoll;
    }
  }
}

.theme-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  pointer-events: none;
  z-index: 1000;
}

.overlay-visible {
  opacity: 1;
}

button {
  background-color: #fff;
  margin: 12px 5px;
  border: none;
  padding: 1rem;
  font-size: 16px;
  width: 10em;
  border-radius: 1rem;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}

button:hover:not(:disabled) {
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
  transform: translateY(0.2rem);
}

////////////////////////////////////// POKEMON

.Pokemon {
  $pokemonBlue: rgb(39, 98, 121);

  p {
    @include vt323;
    font-size: 20px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @include luckiest-guy;
  }

  .start {
    background: rgb(39, 98, 121);
    background: linear-gradient(
      180deg,
      rgba(39, 98, 121, 1) 33%,
      rgba(53, 126, 171, 1) 100%
    );
    color: #fff;

    h1 {
      position: relative;
      padding-left: 70px;
      &::after {
        content: "";
        position: absolute;
        bottom: -15px;
        left: -20px;
        height: 100px;
        width: 100px;
        background-image: url("./Assets/Images/Pokemon/pikachu-original-cap.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .selected-difficulty {
      background: rgb(39, 98, 121);
      background: linear-gradient(
        245deg,
        rgb(223, 226, 24) 10%,
        rgb(168, 170, 17) 100%
      );
    }
  }

  .header {
    background: rgb(39, 98, 121);
    background: linear-gradient(
      0deg,
      rgba(39, 98, 121, 1) 33%,
      rgba(53, 126, 171, 1) 100%
    );
    p {
      color: #fff;
    }

    &-guesslog {
      color: $pokemonBlue;
    }

    &-quit {
      color: $pokemonBlue;
    }
  }

  .guess-log-menu {
    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: -10px;
      height: 100px;
      width: 100px;
      background-image: url("./Assets/Images/Pokemon/pikachu-balloons.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.open {
      .close-btn {
        color: $pokemonBlue;
      }
    }

    .guess-log {
      h2 {
        color: rgb(39, 98, 121);
      }

      &-container {
        border-top: solid 2px $pokemonBlue;
        border-bottom: solid 2px $pokemonBlue;
      }
    }
  }

  .guess {
    background: rgb(39, 98, 121);
    background: linear-gradient(
      180deg,
      rgba(39, 98, 121, 1) 33%,
      rgba(53, 126, 171, 1) 100%
    );

    &-guesses {
      @include vt323;
      font-weight: 500;
      font-size: 20px;
      background: rgb(39, 98, 121);
      background: linear-gradient(
        0deg,
        rgba(39, 98, 121, 1) 33%,
        rgba(53, 126, 171, 1) 100%
      );
      border-color: #fff;
      color: #eee;
    }
  }

  .impossible-feedback {
    color: #fff;
  }

  button {
    @include vt323;
    color: $pokemonBlue;

    &:hover:not(:disabled) {
      background-color: #eee;
      color: $pokemonBlue;
    }
  }

  .icon {
    &:before {
      background: rgb(208, 222, 90);
      background: radial-gradient(
        circle,
        rgb(230, 250, 48) 5%,
        rgba(208, 222, 90, 0) 75%
      );
    }
  }

  .game-over {
    color: #fff;
    background: rgb(39, 98, 121);
    background: linear-gradient(
      0deg,
      rgba(39, 98, 121, 1) 33%,
      rgba(53, 126, 171, 1) 100%
    );

    h2 {
      margin-bottom: 40px;
    }
  }
}

////////////////////////////////////// DOGS

.Dogs {
  $dogLight: rgb(71, 136, 79);
  $dogDark: rgb(42, 83, 47);

  p {
    @include fredoka;
    font-size: 20px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @include fredoka;
    font-weight: 600;
  }

  .start {
    background: $dogDark;
    background: linear-gradient(180deg, $dogDark 33%, $dogLight 100%);
    color: #fff;

    h1 {
      position: relative;
      padding-right: 50px;
      &::after {
        content: "";
        position: absolute;
        bottom: -26px;
        right: -20px;
        height: 70px;
        width: 70px;
        background-image: url("./Assets/Images/Dogs/dog-bg.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .selected-difficulty {
      background: #e0fadb;
      color: $dogDark;
    }
  }

  .header {
    background: $dogDark;
    background: linear-gradient(0deg, $dogDark 33%, $dogLight 100%);
    p {
      color: #fff;
    }

    &-guesslog {
      color: $dogDark;
    }

    &-quit {
      color: $dogDark;
    }
  }

  .guess-log-menu {
    &::after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 5px;
      height: 100px;
      width: 100px;
      background-image: url("./Assets/Images/Dogs/dog-bottom.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 20;
    }

    &.open {
      .close-btn {
        color: $dogDark;
      }
    }

    .guess-log {
      h2 {
        color: $dogDark;
      }

      &-container {
        border-top: solid 2px $dogLight;
        border-bottom: solid 2px $dogLight;
      }
    }
  }

  .guess {
    background: $dogDark;
    background: linear-gradient(180deg, $dogDark 33%, $dogLight 100%);

    &-guesses {
      @include fredoka;
      font-size: 20px;
      background: $dogLight;
      background: linear-gradient(0deg, $dogDark 33%, $dogLight 100%);
      border-color: #fff;
      color: #eee;
    }
  }

  .impossible-feedback {
    color: #fff;
  }

  button {
    @include fredoka;
    font-size: 16px;
    color: $dogLight;

    &:hover:not(:disabled) {
      background-color: #eee;
      color: $dogLight;
    }
  }

  .icon {
    &:before {
      background: $dogLight;
      background: radial-gradient(circle, $dogLight, rgba(208, 222, 90, 0) 75%);
    }
  }

  .game-over {
    color: #fff;
    background: $dogDark;
    background: linear-gradient(0deg, $dogDark 33%, $dogLight 100%);

    h2 {
      margin-bottom: 40px;
    }
  }
}

////////////////////////////////////// ONE PIECE

.OnePiece {
  $onePieceLight: gold;
  $onePieceDark: darkred;
  $onePieceLightRed: rgb(165, 25, 25);

  p {
    @include trade-winds;
    font-size: 20px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @include trade-winds;
    font-weight: 600;
  }

  .start {
    background: $onePieceDark;
    background: linear-gradient(180deg, $onePieceDark 33%, $onePieceLight 100%);
    color: #fff;

    h1 {
      position: relative;
      margin-top: 80px;

      &::after {
        content: "";
        position: absolute;
        top: -110px;
        left: 50%;
        transform: translateX(-50%);
        height: 130px;
        width: 130px;
        background-image: url("./Assets/Images/OnePiece/op-bg.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .theme-text {
      margin-top: 0px;
    }

    .selected-difficulty {
      background: #ffffff;
      background: linear-gradient(245deg, $onePieceLight 10%, #eedf8c 100%);
      color: $onePieceDark;
    }
  }

  .header {
    background: $onePieceDark;
    background: linear-gradient(
      0deg,
      $onePieceDark 33%,
      $onePieceLightRed 100%
    );

    p {
      color: #fff;
    }

    &-guesslog {
      color: $onePieceDark;
    }

    &-quit {
      color: $onePieceDark;
    }
  }

  .guess-log-menu {
    &::after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 5px;
      height: 100px;
      width: 100px;
      background-image: url("./Assets/Images/OnePiece/op-bottom.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 20;
    }

    &.open {
      .close-btn {
        color: $onePieceDark;
      }
    }

    .guess-log {
      h2 {
        color: $onePieceDark;
      }

      &-container {
        border-top: solid 2px $onePieceLight;
        border-bottom: solid 2px $onePieceLight;
      }
    }
  }

  .guess {
    background: $onePieceDark;
    background: linear-gradient(
      180deg,
      $onePieceDark 33%,
      $onePieceLightRed 100%
    );

    &-guesses {
      @include trade-winds;
      font-size: 20px;
      background: $onePieceDark;
      background: linear-gradient(
        0deg,
        $onePieceDark 33%,
        $onePieceLightRed 100%
      );
      border-color: #fff;
      color: #eee;
    }
  }

  .impossible-feedback {
    color: #fff;
  }

  button {
    @include trade-winds;
    font-size: 16px;
    color: $onePieceDark;

    &:hover:not(:disabled) {
      background-color: #eee;
      color: $onePieceDark;
    }
  }

  .icon {
    &:before {
      background: $onePieceLight;
      background: radial-gradient(
        circle,
        $onePieceLight,
        rgba(208, 222, 90, 0) 75%
      );
    }
  }

  .game-over {
    color: #fff;
    background: $onePieceDark;
    background: linear-gradient(0deg, $onePieceDark 33%, $onePieceLight 100%);

    h2 {
      margin-bottom: 40px;
    }
  }
}
